/*** General style sheet ***/
*, *:focus {
    color: #333;
    outline: none;
}

* {
    /* Font */
    font-family: Arial, Helvetica, sans-serif;
}

/* Default paragraphs styling */
p {
    font-size: 16.7px;
    line-height: 1.67em;
}

/* Main content is concentrated and moved few pixels below to prevent collision with progress bar on load */
#main-container {
    top: 0;
    margin: 0 auto;
    width: 80%;
    margin-top: 1em;
}

/* Default interactive elements' look */
button, input, select {
    border: 1px solid black;
    background-color: #fcfffc;
    filter: drop-shadow(3px 3px);
    border-radius: 0;
    accent-color: black;
}

button:focus, input:focus, select:focus {
    filter: drop-shadow(1px 1px);
}

button:disabled, input:disabled {
    background: #c0c0c0;
    filter: drop-shadow(1px 1px);
}

body {
    background-color: #f9f9f9;
}

footer {
    margin: 30px auto;
    color: gray;
    font-style: italic;
    text-align: center;
    font-size: .77rem;
}

.signature {
    width: 13rem;
    opacity: 0.33;
}

.signature:hover {
    cursor: pointer;
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    #main-container {
        width: 100%;
    }
}