.error-message {
    color: red;
}

input:invalid {
    border: 2px solid red;
}

div.question {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.util-button {
    margin: 0;
    float: right;
}

p.question-content {
    margin: 0;
}


input[type=text], textarea, input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4c91af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #377894;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.border {
    border: 1px solid black;
}

.new-answer-element {
    border: none;
    padding-top: 30px;
}

.required:after {
    content: '*';
    color: red;
    font-style: oblique;
}